
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* sherad design  */
.display-flex{
    display: flex;
    gap: 20px;
}
.text-gray{
    color: #424242;
}
.text-lite-gray{
    color: #727272;
}
.btn{
    background-color: #FF900E;
    color: white;
    padding: 18px 25px;
    border: none;
    border-radius: 8px;
    font-size:1.25rem ;
    font-weight: 600;
    margin-top: 20px;
}
main > section{
    margin-top: 120px;
}
/* full header section  */

#head{
    background-color: rgba(255, 144, 14, 0.1);
}
/* navbar design */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    list-style: none;
}
.nav-list a{
    text-decoration: none;
}
.logo{
    font-weight: 700;
    font-size: 2.6rem;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-titel{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom:50px ;
}
.banner-t{
    font-weight: 700;
    font-size:4rem ;
}
.banner-img{
    width: 100%;
}
/* start of feturs section  */
#main{
    max-width: 1440px;
    margin: 0 auto;
}
.fetures{
    display: flex;
    align-items: center;
}
.f-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.f-discription{
    margin-left: 80px;
    max-width: 530px;
}
#f-h1{
    font-weight:500 ;
}
#f-h2{
    color: #FF900E;
}
.f-head{
    font-size: 2.8rem;
    font-weight: 700;
}
/* expariamnce section  */
.section-tital{
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 15px;
    border-left:5px solid #FF900E;
    padding-left: 20px;
}
.expariance-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;

}
.expariance-card h4{
    font-weight: 600;
    font-size:1.25rem ;
    margin-top: 15px;
}
.expariance{
    display: flex;
    gap: 140px;
    align-items: center;
}
#expariance-btn{
    padding: 45px 42px;
    font-size:1.5rem ;
    font-weight: 500;
    margin-left:-100px ;
    margin-top: -140px;
}
#big-f{
    font-size: 4rem;
    font-weight: 700;
}
/* fact section  */
.fact-titel{
    max-width: 540px;
    margin-bottom: 30px;
}
.fact-titel h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.fact-containar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 50px;

}
.fact-icon{
    border:1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-num{
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 20px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 500;
}
/* responcive media quary */
@media screen and (max-width:576px) {
    .navbar, .nav-list, .fetures, .expariance{
        flex-direction: column;
    }
    .f-discription{
        margin-left: 20px;
    }
    .f-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .fact-containar{
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    .fact-titel{
        text-align: center;
    }
    #apa{
        width: 100%;
    }
    #expariance-btn{
        width: 100%;
        margin:0;
    }
}
@media screen and (min-width:576px) and (max-width:992px){
    .fetures{
        flex-direction: column;
    }
    .f-discription{
        margin-left: 50px;
    }
}